.app {
  padding: 20px;
}

h3 {
  margin: 30px 0 15px;
}

.discounted span:first-child {
  color: red;
}

.discounted span:last-child {
  padding-left: 5px;
  text-decoration: line-through;
  font-size: 0.7rem;
}
